@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer utilities {
  .hover-animate {
    transition:
      transform 0.3s linear,
      opacity 0.3s linear,
      visibility 0.3s linear,
      color 0.15s linear,
      border-color 0.15s linear,
      background-color 0.15s linear,
      box-shadow 0.15s linear;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
